:root {
  font-family: "Montserrat";
  line-height: 1.5;
  font-weight: 400;
  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}

a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
}

#root {
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}

button:hover {
  border-color: #646cff;
}

button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }

  a:hover {
    color: #747bff;
  }

  button {
    background-color: #f9f9f9;
  }
}

a {
  font-size: 1.5rem;
}

.container {
  max-width: 1100px;
  padding: 0 1rem;
  margin: 0 auto;
  font-size: 1.25rem;
  text-align: center;
}

.title {
  margin: 0;
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  max-width: 992px;
  margin: 0 auto;
  padding: 0 1rem;
}

.input {
  width: 100%;
  padding: 1rem;
  border-radius: 0.5rem;
  border: none;
  font-size: 1.25rem;
}

.text-center {
  text-align: center;
}

.result-section {
  margin: 0 auto;
  text-align: center;
}

.modal-copy {
  position: fixed;
  bottom: 2rem;
  left: 50%;
  transform: translateX(-50%) translateY(200%);
  background-color: #fff;
  border-radius: 0.5rem;
  padding: 1rem 2rem;
  color: #1a1a1a;
  transition: transform 0.3s ease-in-out;
}

.modal-copy.active {
  transform: translateX(-50%) translateY(0%);
}